@font-face {
    font-family: DGAgnadeen-Bold;
    src: url(../fonts/DGAgnadeen-Bold.ttf);
  }
  @font-face {
    font-family: DGAgnadeen-Regular;
    src: url(../fonts/DGAgnadeen-Regular.ttf);
  }
  @font-face {
    font-family: DGAgnadeen-light;
    src: url(../fonts/DGAgnadeen-Light.ttf);
  }
  body {
    overflow-x: hidden;
    font-family: Arbonts-Regular;
  }

  body {
    font-family: DGAgnadeen-Regular;
    text-align: right;
  }
  .ml-60 {
    margin-right: 60px;
    margin-left: unset;
  }
  .ml-50 {
    margin-right: 50px;
    margin-left: unset;
  }
  .ml-20 {
    margin-left: unset;
    margin-right: 20px;
  }
  .default-btn::before {
    left: unset;
    right: 0;
  }
  .default-btn::after {
    right: unset;
    left: 0;
  }
  .default-btn:hover::before {
    right: auto;
    left: 0;
  }
  .default-btn:hover::after {
    left: auto;
    right: 0;
  }
  .navbar-brand {
    margin-right: 0;
  }
  .navbar-area .main-nav .navbar .navbar-nav .nav-item .dropdown-menu {
    right: 0;
    left: auto;
    text-align: right;
  }
  .navbar-area
    .main-nav
    .navbar
    .navbar-nav
    .nav-item
    .dropdown-menu
    .nav-item
    .dropdown-menu {
    right: 100%;
  }
  .main-nav nav .navbar-nav .nav-item .dropdown-menu li a::before {
    left: unset;
    right: 0;
  }
  .main-nav nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
    right: 100%;
    top: 20px;
    left: auto;
  }
  .main-nav
    nav
    .navbar-nav
    .nav-item
    .dropdown-menu
    li
    .dropdown-menu
    li
    .dropdown-menu {
    right: 100%;
    left: auto;
  }
  .navbar-light .navbar-brand img {
    float: right;
    padding-right: 15px;
    padding-left: unset;
  }
  .top-nav .navbar-area .main-nav .navbar .navbar-nav {
    margin-right: unset;
    margin-left: auto !important;
  }
  ul.navbar-nav.mr-auto {
    margin-left: auto !important;
    margin-right: 0 !important;
  }
  .sidebar-modal .modal.right.fade.show .modal-dialog {
    left: 0;
    right: auto;
    animation: fadeInLeft 0.6s linear;
  }
  .sidebar-modal .modal-header .close {
    left: 0;
    right: auto;
  }
  .sidebar-modal .modal.right .modal-body .sidebar-modal-widget .social-list {
    text-align: right;
  }
  .head-left {
    padding-right: 30px;
    padding-left: unset;
  }
  .header-card {
    max-width: 410px;
    margin-right: auto;
    margin-left: unset;
  }
  .header-card .header-card-text {
    right: 90px;
    top: 20px;
    left: auto;
  }
  .header-right {
    text-align: right;
    padding-left: 30px;
    padding-right: 0;
  }
  .header-right-card {
    float: right;
  }
  .header-right .header-right-card ul {
    padding-right: 0;
  }
  .header-right .header-right-card ul li {
    text-align: right;
    padding-right: 7px;
    padding-left: 0;
    margin-left: 35px;
    margin-right: 0;
  }
  .header-right .header-right-card ul li:last-child {
    margin-left: 0;
  }
  .header-right .header-right-card ul li span {
    margin-left: 0;
    margin-right: 36px;
  }
  .header-right .header-right-card ul li a {
    margin-left: 0;
    margin-right: 36px;
  }
  .header-right .header-right-card ul li .head-icon {
    right: 0;
    left: auto;
  }
  .header-right .header-right-card ul li::before {
    right: -20px;
    left: auto;
  }
  .top-social-link {
    float: left;
  }
  .customer-from .form-group .select-phone {
    padding: 10px 20px !important;
  }
  .customer-from form .nice-select:after {
    left: 15px;
    right: auto;
  }
  .customer-from form .nice-select {
    text-align: right !important;
  }
  .customer-from form .nice-select .list .option {
    text-align: right;
  }
  .search-area {
    margin-left: 10px;
    margin-right: unset;
  }
  .cart-shop a {
    margin-left: 20px;
  }
  .about-img .about-single {
    margin-right: unset;
    margin-left: 40px;
  }
  .about-content .section-title h2 {
    margin-left: auto;
  }
  .about-content .section-title p {
    margin-left: auto;
  }
  .default-btn.active {
    margin-right: 20px;
    margin-left: unset;
  }
  .search-area .search-item .search-overlay.search-popup {
    left: 0;
    right: auto;
  }
  .search-area
    .search-item
    .search-overlay.search-popup
    .search-form
    .search-button {
    left: 0;
    right: auto;
  }
  .search-area
    .search-item
    .search-overlay.search-popup
    .search-form
    .search-input {
    padding-right: 10px;
    padding-left: unset;
  }
  .sidebar-modal .modal-header .close {
    float: left;
  }
  .sidebar-modal .modal-header .close i {
    margin-left: 20px;
  }
  .sidebar-modal .modal.left .modal-body .sidebar-modal-widget .social-list {
    text-align: right;
  }
  .customer-service .customer-service-card i {
    left: auto;
    right: 30px;
  }
  .customer-service .customer-service-card .content {
    margin-right: 100px;
    margin-left: unset;
  }
  .customer-from .agree-label label {
    font-size: 15px;
    color: #fff;
    font-family: oswald, sans-serif;
    font-weight: 300;
    margin-right: 10px;
    margin-left: unset;
  }
  .customer-from .form-group .form-control {
    padding: 10px 45px 10px 20px;
  }
  .customer-from .form-group i {
    right: 20px;
    left: auto;
  }
  .customer-from .form-group .select-phone {
    right: 0;
    left: auto;
  }
  .about-img .about-single .about-play {
    left: -40px;
    right: auto;
  }
  .about-img .about-single .about-dots {
    right: -40px;
    left: auto;
  }
  .about-img .about-single .about-play .play-btn i {
    margin-left: 10px;
    margin-right: unset;
  }
  .about-content .about-sedule ul li i {
    margin-left: 10px;
    margin-right: unset;
    float: right;
    transform: rotate(-265deg);
  }
  .service-item .service-icon {
    float: left;
  }
  .service-item .read-more-btn i {
    float: right;
    margin-left: 10px;
    margin-right: unset;
    transform: rotate(-265deg);
  }
  .counter-single h2 {
    float: right;
    margin-right: unset;
    margin-left: 15px;
  }
  .offer-img .images-offer .offer-top {
    right: -20px;
    left: auto;
  }
  .offer-img .images-offer .offer-bottom {
    left: -20px;
    right: auto;
  }
  .maintenance-text .section-title p a {
    margin-left: unset;
    margin-right: 5px;
  }
  .maintenance-item i {
    left: auto;
    right: 20px;
    transform: rotate(-265deg);
  }
  .maintenance-item .maintenance-content {
    margin-right: 30px;
    margin-left: unset;
  }
  .award-title {
    margin-right: 70px;
    margin-left: unset;
  }
  .award-list ul li span {
    margin-left: 15px;
    margin-right: unset;
    float: right;
  }
  .maintenance-more a i {
    float: right;
    margin-left: 10px;
    margin-right: unset;
    transform: rotate(-265deg);
    margin-top: -7px;
  }
  .project-card .project-card-img .project-content .view-more-btn i {
    margin-left: 10px;
    margin-right: unset;
    top: -5px;
    transform: rotate(-265deg);
    float: right;
  }
  .newsletter-form .subscribe-btn {
    left: 0;
    right: auto;
  }
  .newsletter-form .form-control {
    text-align: right;
  }
  .newsletter-form {
    margin-left: unset;
    margin-right: 60px;
  }
  .newsleter-area h2 {
    margin-left: unset;
    margin-right: 60px;
  }
  .newsleter-right .newsleter-right-icon {
    left: 0;
    right: auto;
    transform: rotate(0);
  }
  .testimonial-item .testimonial-text {
    right: 15px;
    left: auto;
  }
  .testimonial-slider .owl-nav .owl-prev {
    left: 70%;
  }
  .testimonial-slider .owl-nav .owl-next {
    right: 5%;
  }
  .testimonial-slider .owl-nav::before {
    right: 17.5%;
    left: auto;
  }
  .blog-card .blog-content ul li i {
    margin-left: 7px;
    margin-right: auto;
  }
  .blog-card .blog-content .more-blog i {
    margin-left: 10px;
    margin-right: unset;
    transform: rotate(-265deg);
    float: right;
  }
  .client-item .client-text {
    right: 0;
    left: auto;
    top: 0;
  }
  .footer-logo {
    float: right;
    margin-bottom: 30px;
  }
  .footer-top-card i {
    right: 0;
    left: auto;
  }
  .footer-top-card span {
    margin-right: 75px;
    margin-left: unset;
  }
  .footer-top-card h3 {
    margin-right: 75px;
    margin-left: unset;
  }
  .bottom-text {
    float: left;
  }
  .footer-list ul li:hover {
    margin-right: 5px;
    margin-left: unset;
  }
  .bottom-social-link ul li {
    margin-left: 5px;
    margin-right: unset;
  }
  #toTop {
    left: 20px;
    right: auto;
  }
  .header-right-two {
    text-align: left;
    padding-left: 15px;
    padding-right: unset;
  }
  .banner-mt {
    margin-right: 45px;
    margin-left: unset;
  }
  .banner-from .form-group i {
    right: 20px;
    left: auto;
  }
  .banner-from .form-group .form-control {
    padding: 10px 45px 10px 25px;
  }
  .banner-from .agree-label-two label {
    margin-right: 10px;
    margin-left: unset;
  }
  .banner-from .form-group .select-banner-phone {
    right: 0;
    left: auto;
  }
  .banner-from .form-group .select-banner-phone {
    padding: 10px 20px !important;
  }
  .banner-from form .nice-select:after {
    left: 15px;
    right: auto;
  }
  .banner-from form .nice-select {
    text-align: right !important;
  }
  .banner-from form .nice-select .list .option {
    text-align: right;
  }
  .about-right-content .about-right-sedule ul li i {
    margin-left: 10px;
    margin-right: unset;
    transform: rotate(-265deg);
    float: right;
  }
  .facility-item ul li .facility-content .facility-more i {
    transform: rotate(-265deg);
    float: right;
    margin-left: 10px;
    margin-right: unset;
    margin-top: -5px;
  }
  .offer-item-right .offer-rate-two .offer-claime i {
    margin-left: 5px;
    margin-right: unset;
    transform: rotate(-265deg);
    float: right;
    margin-top: -3px;
  }
  .service-payment-btn .sr-get-btn::before {
    left: unset;
    right: 0;
  }
  .service-payment-btn .sr-get-btn::after {
    right: unset;
    left: 0;
  }
  .service-payment-btn .sr-get-btn:hover::before {
    right: auto;
    left: 0;
  }
  .service-payment-btn .sr-get-btn:hover::after {
    left: auto;
    right: 0;
  }
  .service-payment-btn .sr-cal-btn {
    margin-right: 20px;
    margin-left: unset;
  }
  .service-payment-btn .sr-cal-btn::before {
    left: unset;
    right: 0;
  }
  .service-payment-btn .sr-cal-btn::after {
    right: unset;
    left: 0;
  }
  .service-payment-btn .sr-cal-btn:hover::before {
    right: auto;
    left: 0;
  }
  .service-payment-btn .sr-cal-btn:hover::after {
    left: auto;
    right: 0;
  }
  .blog-card .blog-date {
    right: 30px;
    left: auto;
  }
  .team-card .team-social {
    left: 20px;
    right: auto;
  }
  .footer-gallery {
    margin-right: 30px;
    margin-left: unset;
  }
  .footer-gallery ul {
    padding-right: 0;
    padding-left: unset;
  }
  .header-three-right {
    text-align: left;
    padding-left: 30px;
    padding-right: 0;
    float: left;
  }
  .header-three-right .header-three-card ul {
    padding-right: 0;
    text-align: right;
  }
  .header-three-right .header-three-card ul li {
    text-align: right;
    padding-right: 52px;
    padding-left: 0;
    margin-left: 40px;
    margin-right: 0;
  }
  .header-three-right .header-three-card ul li:last-child {
    margin-left: 0;
  }
  .header-three-right .header-three-card ul li span {
    margin-left: 0;
    margin-right: 36px;
  }
  .header-three-right .header-three-card ul li a {
    margin-left: 0;
    margin-right: 36px;
  }
  .header-three-right .header-three-card ul li .head-three-icon {
    right: 0;
    left: auto;
  }
  .header-three-right .header-three-card ul li::before {
    right: -25px;
    left: auto;
  }
  .about-offer ul {
    padding-right: 0;
    padding-left: 0;
  }
  .about-offer ul li {
    text-align: right;
    padding-right: 52px;
    margin-left: 60px;
    margin-right: unset;
    padding-left: 0;
  }
  .about-offer ul li .about-offer-icon {
    top: 50%;
    right: 0;
    left: auto;
  }
  .about-offer ul li span {
    margin-right: 36px;
    margin-left: unset;
  }
  .about-offer ul li h3 {
    margin-right: 36px;
    margin-left: unset;
  }
  .facility-item ul li .facility-content {
    padding-right: 74px;
    padding-left: unset;
  }
  .facility-item ul li .facility-icon {
    right: 0;
    left: auto;
  }
  .team-card .team-content {
    text-align: right;
  }
  .team-card .team-content .team-right {
    left: 7px;
    right: auto;
  }
  .project-item .project-item-img .project-item-content {
    right: 20px;
    left: auto;
  }
  .technician-relative .technician-bottom {
    right: 20px;
    left: auto;
  }
  .about-offer .about-offer-img {
    left: 5px;
    right: auto;
  }
  .feedback-item .feedback-text {
    right: 15px;
    left: auto;
  }
  .service-list-side ul {
    padding-left: 0;
    padding-right: 0;
  }
  .service-list-side ul li {
    text-align: right;
    padding-right: 52px;
    padding-left: 0;
  }
  .service-catagory ul li i {
    margin-left: 10px;
    float: right;
    margin-right: unset;
  }
  .service-list-side ul li .service-list-icon {
    right: 0;
    left: auto;
  }
  .service-list-side ul li span {
    margin-right: 30px;
    margin-left: unset;
  }
  .service-list-side ul li h3 {
    margin-right: 30px;
    margin-left: unset;
  }
  .inner-banner .inner-title .inner-list ul li {
    margin-left: 25px;
    margin-right: unset;
  }
  .inner-banner .inner-title .inner-list ul li i {
    margin-left: 10px;
    margin-right: unset;
  }
  .service-dtls-join .service-dtls-btn .service-dtls-get::before {
    left: unset;
    right: 0;
  }
  .service-dtls-join .service-dtls-btn .service-dtls-get::after {
    right: unset;
    left: 0;
  }
  .service-dtls-join .service-dtls-btn .service-dtls-get:hover::before {
    right: auto;
    left: 0;
  }
  .service-dtls-join .service-dtls-btn .service-dtls-get:hover::after {
    left: auto;
    right: 0;
  }
  .service-dtls-join .service-dtls-btn .service-dtls-cal {
    margin-right: 20px;
    margin-left: unset;
  }
  .service-dtls-join .service-dtls-btn .service-dtls-cal::before {
    left: unset;
    right: 0;
  }
  .service-dtls-join .service-dtls-btn .service-dtls-cal::after {
    right: unset;
    left: 0;
  }
  .service-dtls-join .service-dtls-btn .service-dtls-cal:hover::before {
    right: auto;
    left: 0;
  }
  .service-dtls-join .service-dtls-btn .service-dtls-cal:hover::after {
    left: auto;
    right: 0;
  }
  .blog-page-area {
    overflow: hidden;
  }
  .blog-area {
    overflow: hidden;
  }
  .blog-dtls-side .blog-widget.search-widget .search-form button {
    left: 0;
    right: auto;
  }
  .blog-dtls-side .blog-widget.widget-catagory ul li i {
    margin-left: 5px;
    margin-right: unset;
  }
  .blog-dtls-side .blog-widget.resent-post-widget ul li a img {
    right: 0;
    left: auto;
  }
  .blog-dtls-side .blog-widget.resent-post-widget ul li a {
    padding-left: unset;
    padding-right: 90px;
  }
  .blog-dtls-content .blockquote-1::before {
    top: 0;
    right: 0;
    left: auto;
  }
  .blog-dtls-content .page-next-area .next-post {
    font-size: 18px;
    float: left;
  }
  .blog-dtls-content .blog-dtls-date .dtls-submit-date {
    right: 0;
    left: auto;
  }
  .blog-dtls-content .blog-dtls-date p {
    display: inline-block;
    margin-right: 100px;
    margin-bottom: 0;
    margin-left: unset;
  }
  .blog-dtls-content .comments-wrap ul li a {
    left: 30px;
    right: auto;
  }
  .blog-dtls-content .comments-wrap ul li img {
    left: auto;
    right: 30px;
  }
  .blog-dtls-content .comments-wrap ul li {
    padding-right: 150px;
    padding-left: unset;
  }
  .blog-dtls-content .comment-profile .comment-profile-img img {
    right: 30px;
    left: auto;
  }
  .blog-dtls-content .comment-profile {
    padding-left: unset;
    padding-right: 230px;
  }
  .blog-dtls-content .comment-profile .social-icon .share {
    margin-left: 5px;
    margin-right: unset;
  }
  .contact-form .form-group .form-control {
    padding: 10px 40px 10px 20px;
    text-align: right;
  }
  .faq-accordion .accordion .accordion-title {
    padding: 20px 20px 17px 60px;
  }
  .contact-form .form-group i {
    right: 15px;
    left: auto;
  }
  .cart-wraps-area .cart-table table tbody tr td.product-subtotal .remove {
    color: #1f1f1f;
    float: left;
    position: relative;
    top: 1px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .cart-wraps-area .cart-totals ul li span {
    float: left;
    color: #8b8b8b;
    font-weight: 400;
  }
  .order-details .payment-box .payment-method p [type="radio"]:checked + label {
    padding-right: 27px;
    padding-left: unset;
  }
  .order-details
    .payment-box
    .payment-method
    p
    [type="radio"]:checked
    + label::before {
    right: 0;
    left: auto;
  }
  .order-details
    .payment-box
    .payment-method
    p
    [type="radio"]:checked
    + label::after {
    right: 3px;
    left: auto;
  }
  .order-details
    .payment-box
    .payment-method
    p
    [type="radio"]:not(:checked)
    + label::before {
    right: 0;
    left: auto;
  }
  .order-details
    .payment-box
    .payment-method
    p
    [type="radio"]:not(:checked)
    + label::after {
    right: 0;
    left: auto;
  }
  .order-details
    .payment-box
    .payment-method
    p
    [type="radio"]:not(:checked)
    + label {
    padding-right: 27px;
    padding-left: unset;
  }
  .billing-details .form-check .form-check-label {
    margin-right: 20px;
    margin-left: unset;
  }
  .faq-accordion .accordion {
    padding-left: unset;
    padding-right: 0;
  }
  .billing-details form .nice-select:after {
    right: 15px;
    left: auto;
  }
  .billing-details form .nice-select {
    text-align: left !important;
  }
  .billing-details form .nice-select .list .option {
    text-align: left;
  }
  .billing-details .form-group .nice-select:after {
    left: 15px;
    right: auto;
  }
  .billing-details .form-group .nice-select {
    text-align: right !important;
    padding-left: 40px;
    padding-right: 18px;
  }
  .billing-details .form-group .nice-select .list .option {
    text-align: right;
  }
  .faq-accordion .accordion .accordion-title i {
    left: 20px;
    right: auto;
  }
  .user-all-form .contact-form .recover-register {
    color: #1f1f1f;
    font-weight: 600;
    margin-bottom: 15px;
    float: left;
  }
  .service-catagory h3::before {
    right: 0;
    left: auto;
  }
  .cart-wraps-area .cart-calc .nice-select:after {
    left: 15px;
    right: auto;
  }
  .cart-wraps-area .cart-calc .nice-select {
    text-align: right !important;
    padding-left: 40px;
    padding-right: 18px;
  }
  .shop-desc .price .old-price {
    text-decoration: line-through;
    color: #1f1f1f;
    margin-right: 10px;
  }
  .shop-desc .shop-add .default-btn {
    margin-left: 20px;
    margin-right: unset;
  }
  .shop-detls-tab
    .tab_content
    .tabs_item
    .shop-detls-tab-content
    .additional-information {
    text-align: right;
  }
  .shop-detls-tab
    .tab_content
    .tabs_item
    .shop-detls-tab-content
    .additional-information {
    text-align: right;
    padding-left: unset;
    padding-right: 0;
  }
  .shop-detls-tab
    .tab_content
    .tabs_item
    .shop-detls-tab-content
    .shop-review-form
    .review-title
    .btn-right {
    left: 0;
    right: auto;
  }
  .shop-detls-tab
    .tab_content
    .tabs_item
    .shop-detls-tab-content
    .shop-review-form
    .review-comments
    .review-item {
    padding-left: 200px;
    padding-right: unset;
  }
  .shop-detls-tab
    .tab_content
    .tabs_item
    .shop-detls-tab-content
    .shop-review-form
    .review-comments
    .review-item
    .review-report-link {
    left: 0;
    right: auto;
  }
  .user-all-form .contact-form .forget {
    float: left;
  }
  .switch-box {
    left: 120px !important;
    right: auto !important;
  }
  .buy-now-btn {
    left: 20px;
    right: auto;
    display: none;
  }
  .contact-form .with-errors {
    float: right;
  }
  .service-qulity-dtls .service-dtls-item ul li .service-dtls-content {
    padding-right: 74px;
    padding-left: 0;
  }
  .service-qulity-dtls .service-dtls-item ul li .service-dtls-icon {
    right: 0;
    left: auto;
  }
  .coming-soon-area .coming-soon-content .newsletter-form .input-newsletter {
    text-align: right;
    padding-right: 15px;
    padding-left: 0;
  }
  .coming-soon-area .coming-soon-content .newsletter-form button {
    left: 0;
    right: auto;
  }
  .coming-soon-area #validator-newsletter {
    text-align: right;
  }
  .blog-dtls-content .blog-detls-sheare .social-icon {
    text-align: left;
  }
  @media only screen and (max-width: 767px) {
    .ml-60 {
      margin-right: auto;
      margin-left: auto;
    }
    .mean-container a.meanmenu-reveal {
      left: 15px !important;
      right: auto !important;
    }
    .mean-container .mean-nav ul li a.mean-expand {
      width: 90%;
    }
    .mean-container .mean-nav ul li a.mean-expand {
      text-align: left;
      left: 15px;
      right: auto;
    }
    .mean-container .mean-nav ul li a {
      text-align: right;
    }
    .mobile-nav .logo {
      right: 15px !important;
      left: auto !important;
    }
    .head-left {
      padding-right: unset;
      padding-left: unset;
    }
    .header-card {
      max-width: 240px;
      margin-left: auto;
      margin-right: auto;
    }
    .header-card .header-card-text {
      right: 55px;
      top: 10px;
      left: auto;
    }
    .default-btn.active {
      margin-right: 10px;
      margin-left: unset;
    }
    .header-right {
      text-align: center;
      padding-left: 0;
      padding-right: 0;
    }
    .header-right .header-right-card ul li {
      text-align: right;
      padding-right: 7px;
      padding-left: 0;
      margin-left: 15px;
      margin-right: 0;
    }
    .top-social-link {
      float: none;
    }
    .slider-item .slider-content {
      margin-right: 0;
      margin-left: unset;
    }
    .about-img .about-single .about-play {
      left: auto;
      right: auto;
    }
    .award-title {
      margin-right: 0;
      margin-left: unset;
    }
    .maintenance-item {
      padding: 25px;
    }
    .offer-img .images-offer .offer-top {
      right: 0;
      left: 0;
    }
    .offer-img .images-offer .offer-bottom {
      left: 0;
      right: 0;
    }
    .newsleter-area {
      margin-left: 15px;
      margin-right: unset;
    }
    .newsleter-area h2 {
      margin-left: unset;
      margin-right: unset;
    }
    .newsletter-form {
      margin-left: unset;
      margin-right: unset;
    }
    .newsleter-right {
      margin-left: unset;
      margin-right: 15px;
    }
    .testimonial-slider .owl-nav::before {
      right: 36.5%;
    }
    .testimonial-slider .owl-nav .owl-prev {
      left: 34.5%;
    }
    .testimonial-slider .owl-nav .owl-next {
      right: 7.5%;
    }
    .customer-service .customer-service-card i {
      top: 0;
      left: auto;
      right: auto;
    }
    .service-payment-btn .sr-cal-btn {
      margin-right: 10px;
      margin-left: unset;
    }
    .customer-service .customer-service-card .content {
      margin-right: auto;
      margin-left: auto;
    }
    .header-top-card ul {
      padding-right: 0;
      padding-left: unset;
    }
    .header-right-two {
      text-align: left;
      padding-left: 0;
      padding-right: unset;
    }
    .banner-mt {
      margin-right: 0;
      margin-left: unset;
    }
    .header-three-right {
      text-align: center;
      padding-left: 0;
      padding-right: 0;
      float: none;
    }
    .header-three-right .header-three-card ul {
      padding-right: 0;
      text-align: center;
    }
    .header-three-right .header-three-card ul li {
      text-align: right;
      padding-right: 20px;
      padding-left: 0;
      margin-left: 0;
      margin-right: 0;
    }
    .home-three-item .home-three-content {
      margin-right: 0;
      margin-left: 0;
    }
    .bottom-text {
      float: none;
      text-align: center;
    }
    .facility-area {
      overflow: hidden;
    }
    .about-offer ul li {
      padding-right: 35px;
      margin-left: 0;
      margin-right: unset;
    }
    .about-offer ul li span {
      margin-right: 30px;
      margin-left: unset;
    }
    .about-offer ul li h3 {
      margin-right: 30px;
      margin-left: unset;
    }
    .project-item .project-item-img .project-item-content {
      right: 0;
      left: 0;
    }
    .technician-relative .technician-bottom {
      right: 0;
      left: 0;
    }
    .footer-gallery {
      margin-right: 0;
      margin-left: unset;
    }
    .client-item .client-text {
      top: 0;
      left: 0;
    }
    .blog-dtls-content .page-next-area .next-post {
      text-align: center;
      float: none;
    }
    .blog-dtls-content .comment-profile {
      padding-left: unset;
      padding-right: 0;
    }
    .blog-dtls-content .comments-wrap ul li {
      padding-right: 0;
      padding-left: unset;
    }
    .faq-accordion .accordion .accordion-title {
      padding: 10px 20px 10px 25px;
    }
    .faq-accordion .accordion .accordion-title i {
      left: 10px;
      right: auto;
    }
    .user-all-form .contact-form .recover-register {
      float: none;
    }
    .shop-detls-tab
      .tab_content
      .tabs_item
      .shop-detls-tab-content
      .shop-review-form
      .review-comments
      .review-item {
      padding-left: 0;
      padding-right: unset;
    }
    .shop-detls-tab
      .tab_content
      .tabs_item
      .shop-detls-tab-content
      .additional-information {
      padding-left: 0;
      padding-right: 0;
    }
    .user-all-form .contact-form .forget {
      float: none;
    }
    .nr-pt {
      padding: 30px 20px !important;
      margin-top: 0 !important;
      margin-right: 0 !important;
      overflow: hidden;
    }
    .pagination {
      padding-left: 0;
      padding-right: 0;
    }
    .faq-accordion .accordion .accordion-title i {
      top: 5px;
    }
    .faq-accordion .accordion {
      padding-left: 0;
      padding-right: 0;
    }
    .faq-accordion .accordion .accordion-title {
      padding: 10px 15px 10px 30px;
    }
    .award-title {
      margin-right: 0;
      margin-left: unset;
    }
    .about-img .about-single {
      margin-right: unset;
      margin-left: 0;
    }
  }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-right .header-right-card ul {
      padding-right: 0;
      text-align: center;
    }
    .header-right .header-right-card ul li {
      margin-left: 15px;
      margin-right: 0;
    }
    .testimonial-slider .owl-nav .owl-prev {
      left: 65.5%;
    }
    .testimonial-slider .owl-nav .owl-next {
      right: 3.5%;
    }
    .testimonial-slider .owl-nav::before {
      right: 19%;
    }
    .project-item .project-item-img .project-item-content {
      right: 20px;
      left: auto;
    }
    .technician-relative .technician-bottom {
      right: 20px;
      left: auto;
    }
    .user-all-form .contact-form .forget {
      float: left;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .ml-60 {
      margin-right: unset;
      margin-left: unset;
    }
    .header-card {
      max-width: 240px;
      margin-right: auto;
      margin-left: auto;
    }
    .header-card .header-card-text {
      right: 60px;
      top: 10px;
      left: auto;
    }
    .head-left {
      padding-right: unset;
      padding-left: unset;
    }
    .header-right {
      text-align: center;
      padding-left: 0;
      padding-right: 0;
    }
    .header-right-card {
      float: none;
    }
    .header-right .header-right-card ul li {
      text-align: center;
      padding-right: 7px;
      padding-left: 0;
      margin-left: 15px;
      margin-right: 0;
    }
    .top-social-link {
      float: none;
    }
    .mean-container a.meanmenu-reveal {
      left: 15px !important;
      right: auto !important;
    }
    .mean-container .mean-nav ul li a.mean-expand {
      width: 90%;
    }
    .mean-container .mean-nav ul li a.mean-expand {
      text-align: left;
      left: 0;
      right: auto;
    }
    .mean-container .mean-nav ul li a {
      text-align: right;
    }
    .mobile-nav .logo {
      right: 15px !important;
      left: auto !important;
    }
    .slider-item .slider-content {
      margin-right: 0;
      margin-left: unset;
    }
    .award-title {
      margin-right: 0;
      margin-left: unset;
    }
    .about-img .about-single .about-play {
      left: 80px;
      right: auto;
    }
    .technician-relative .technician-bottom {
      right: 20px;
      left: auto;
    }
    .offer-img .images-offer .offer-top {
      padding: 30px;
    }
    .newsleter-area {
      margin-right: unset;
      margin-left: 15px;
    }
    .newsleter-right {
      margin-right: 15px;
      margin-left: auto;
    }
    .header-three-right {
      text-align: center;
      padding-left: 0;
      padding-right: 0;
      float: none;
    }
    .header-three-right .header-three-card ul {
      padding-right: 0;
      padding-left: 0;
      text-align: center;
    }
    .header-three-right .header-three-card ul li {
      text-align: left;
      padding-right: 20px;
      padding-left: 0;
      margin-left: 15px;
      margin-right: 0;
    }
    .service-list-side ul li {
      text-align: right;
      padding-right: 30px;
      padding-left: 0;
    }
    .nr-pt {
      margin-top: 0 !important;
      margin-right: 0 !important;
      overflow: hidden;
    }
    .faq-accordion .accordion .accordion-title i {
      top: 5px;
    }
    .faq-accordion .accordion {
      padding-left: 0;
      padding-right: 0;
    }
    .faq-accordion .accordion .accordion-title {
      padding: 10px 25px 10px 30px;
    }
    .user-all-form .contact-form .forget {
      float: left;
    }
  }
  @media (min-width: 768px) {
    .offset-md-3 {
      margin-right: 25%;
      margin: auto;
    }
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .top-logo-img {
      padding: 20px 0;
    }
    .top-logo-img a img {
      width: 110px;
    }
    .service-payment-btn .sr-cal-btn {
      margin-right: 10px;
      margin-left: unset;
    }
    .counter-single h2 {
      margin-left: 7px;
    }
    .management-slider .owl-nav .owl-prev {
      left: 40%;
    }
    .management-slider .owl-nav .owl-next {
      right: 40%;
    }
    .client-slider .owl-nav .owl-prev {
      left: 40%;
    }
    .client-slider .owl-nav .owl-next {
      right: 40%;
    }
    .customer-service {
      padding: 80px 20px 35px;
    }
    .customer-service .customer-service-card .content {
      margin-right: 80px;
      margin-left: unset;
    }
    .customer-service .customer-service-card i {
      font-size: 45px;
      left: -25px;
    }
    .customer-service .customer-service-card .content h3 {
      font-size: 16px;
      max-width: 100%;
      margin-left: 5px;
    }
  }
  @media only screen and (min-width: 1200px) and (max-width: 1349px) {
    .customer-service .customer-service-card .content {
      margin-right: 75px;
      margin-left: unset;
    }
    .customer-service .customer-service-card i {
      left: auto;
      right: 15px;
    }
  }
  @media only screen and (min-width: 1800px) {
    .header-card {
      max-width: 380px;
      margin-right: auto;
      margin-left: unset;
    }
    .header-right .header-right-card {
      max-width: 1015px;
      margin-left: auto;
      margin-right: unset;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: DGAgnadeen-Bold !important;
  }
  a {
    font-family: DGAgnadeen-Regular !important;
  }
  p {
    font-family: DGAgnadeen-Regular !important;
  }
  span {
    font-family: DGAgnadeen-light !important;
  }

  .darkbg {
    background-color: #073868;
  }
  .yallowbg {
    background-color: #dbba5b;
  }
  .about-content .section-title h2 {
    color: #073868;
    max-width: 250px;
    padding-right: 20px;
    font-size: 30px;
  }
  .features li {
    color: #fff;
    padding-right: 30px;
    padding-top: 10px;
    list-style: none;
    background: url(../img/home1/dot.png) no-repeat right;
  }
  .footer-top {
    background-color: #073868;
    border-bottom: 1px solid #2f5982;
  }
  .footer-bottom {
    background-color: #073868;
  }
  .header-right .header-right-card ul li span {
    margin-right: 0px !important;
  }
  .footer-bottom P {
    color: #879db2;
  }
  .footer-top-card i {
    color: #879db2;
  }
  .footer-top-card span {
    color: #879db2;
  }

  .brand-item-two {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }

  .banner-from {
    padding: 45px;
  }
  .contactus {
    border: #fff solid 1px;
    border-radius: 50px;
    padding: 10px 35px;
    display: inline;
    font-size: 16px;
  }

  .slider-content h3 {
    color: #fff;
  }

  .about-img .about-single .about-play {
    left: 40%;
    right: auto;
    top: 40%;
    background: none;
  }
  .about-area {
    background-size: cover;
    background-image: url(../img/about/bg.png);
    background-blend-mode: soft-light;
  }
  .about-img {
    margin-bottom: -25px;
  }

  .section-title span {
    letter-spacing: 0;
  }
  .info li {
    list-style: none;
    color: #fff;
  }
  .info span {
    color: #dbba5b;
  }
  .info i {
    color: #dbba5b;
  }
  .info p {
    color: #fff;
  }

  .owl-carousel .owl-item img {
    border-radius: 8px;
  }

  .blog-card {
    border-radius: 8px;
  }
  .right {
    float: right;
  }

  .project-card .project-card-img a img {
    border-radius: 8px;
  }

  .about-img .about-single img {
    border-radius: 12px;
  }

  .navbar-light .navbar-brand img {
    max-width: 156px;
    padding: 10px;
  }

  .default-bg-white {
    border-radius: 50px;
  }

  .banner-content h1 {
    font-size: 60px;
  }

  .darkbg {
    background-color: #073868;
    border-radius: 12px;
  }

  .info i {
    color: #dbba5b;
    font-size: 24px;
    margin-left: 10px;
  }
  h2.yallowbg {
    padding-right: 15px;
    max-width: 300px;
    margin-right: 28px;
    margin-bottom: 18px;
  }

  .brand-item-two a img {
    height: auto;
    max-height: 200px;
    opacity: 0.5;
    transition: 0.7s;
}

  @media only screen and (max-width: 991px) {
    .mean-container .mean-bar {
      background-color: #073868;
      padding: 0;
    }
    .darkbg {
      border-radius: 12px;
    }
    .banner-content h1 {
      font-size: 40px;
    }

    .banner-content h1 {
      font-size: 40px;
    }

    .about-img .about-single .about-play {
      left: 35%;
      right: auto;
      top: 30%;
      background: none;
      position: absolute;
    }
  }

